/* Umum */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f1f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h3, h4 {
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Layout Postingan */
.post {
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.post:last-child {
    border-bottom: none;
}

/* Tombol */
.btn {
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-success {
    background-color: #28a745;
}

.btn-primary {
    background-color: #007BFF;
}

.btn:hover {
    opacity: 0.9;
}

/* Formulir */
.form-group {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Komentar */
.comment {
    padding: 10px;
    background: #f8f9fa;
    border-left: 3px solid #007BFF;
    margin-bottom: 5px;
}

/* Style tombol like */
.btn-like {
    padding: 8px 16px; /* Sesuaikan padding sesuai kebutuhan */
    font-size: 1rem; /* Sesuaikan ukuran font sesuai kebutuhan */
    color: #495057; /* Warna teks */
    background-color: #e2e6ea; /* Warna background untuk tombol tidak aktif */
    border: none;
    border-radius: 5px; /* Border radius untuk membulatkan sudut */
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s; /* Transisi halus untuk hover dan klik */
    margin-bottom:5px;
    width:100px;
}

.btn-like.liked {
    color: #fff; /* Warna teks untuk tombol aktif */
    background-color: #d63384; /* Warna background untuk tombol aktif */
}

.btn-like:hover {
    background-color: #dae0e5; /* Warna background saat di-hover */
}

.btn-like.liked:hover {
    background-color: #c82333; /* Warna background saat di-hover untuk tombol aktif */
}

/* Icon hati menggunakan font */
.btn-like .icon-heart {
    font-family: Arial; /* Pastikan Anda menggunakan font yang memiliki simbol hati */
    margin-right: 8px; /* Jarak antara ikon dan teks */
}

