main {
    background-color: #f7f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    background-color: #F5DD61;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.app-name {
    font-family: 'Arial', sans-serif; 
    color: #F4538A;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    text-align: center; /* Pusatkan teks */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 10px);
    padding: 5px;
    border: 2px solid #F4538A;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #FAA300;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #F4538A;
}